{% extends 'gari/main.html' %}
{% load staticfiles %}
{% block title_block %}
 {% load humanize %}
    {% load templatehelper %}
   {{ model.make }} {{ model.name }}
    {% endblock %}
{% block body_block %}

{% block content %}

{% if vehicle %}

<div class="contain">
<h1 style="font-family: Merriweather, serif; font-weight: bold; font-size: 25px; color: darkblue">{{ model.make }} {{ model.name }}  for sell in Kenya</h1>

<h4 style="font-family: Merriweather, serif; font-weight: bold; font-size: 20px; color: black">{{ total_vehicle }} vehicle{{ total_vehicle|pluralize }} found </h4>
<section>
    <ul class="dropdown menu" data-dropdown-menu id="primary-menu" style="margin-left: 5px">
  <li>
      <a href="#"> <button class="hollow button primary extended"> Sort By</button></a>

    <ul class="menu">
      <li><a href="?order=price">Price(Lowest to Highest)</a></li>
      <li><a href="?order=-price">Price(Highest to Lowest)</a></li>
      <li><a href="?order=mileage">Mileage(Lowest to Highest)</a></li>
      <li><a href="?order=-mileage">Mileage(Highest to Lowest)</a></li>
    </ul>

  </li>

</ul>
</section>


{% if tag %}
<h2 style="text-align: center">Vehicle tagged with "{{ tag.name }}"</h2>
    <h1 style="font-family: Merriweather, serif; font-weight: bold; font-size: 20px; color: black">{{ total_vehicles }} vehicle{{ total_vehicles|pluralize }} found </h1>
{% endif %}
<div class="grid-x grid-margin-x">
       {% for vehicle in vehicle %}
        <div class="cell large-2 small-12 medium-12">
        <div class="news-card-tag">

  <p class="tags">
      Tags:
      {% for tag in vehicle.tags.all|slice:"3" %}
          <span class="label"><a href="{% url "gari:allvehicle_by_tag" tag.slug %}">{{ tag.name }}</a>
          </span>

{% if not forloop.last %}, {% endif %}
{% endfor %}
</p>
</div>

<div class="card-flex-article card">
  <div class="card-image">

      {% if vehicle.picture %}
          <a href="{{ vehicle.get_absolute_url }}"><img src="{{ vehicle.picture.url }}"></a>
      {% endif %}
  {% if vehicle.seller.private %}
    <span class="label alert card-tag">Private Seller</span>
  {% endif %}
  </div>
  <div class="card-section">
      <h3 class="article-title">Ksh {{ vehicle.price|intcomma }}</h3>
    <h3 class="article-title">{{ vehicle.name }}</h3>
    <div class="article-details">
      <span class="website">{{ premise.bedrooms }}  </span> &#8226;
     <span class="author">{{ premise.bathrooms }} </span> &#8226;
      <span class="author">{{ vehicle.mileage }} Kms</span>
    </div>
    <p class="article-summary">{{ vehicle.county }}</p>

  </div>

</div>


    </div>
{% endfor %}
</div>
</div>
{% else %}
<p>No Vehicle Yet</p>
{% endif %}

    {% if vehicle.has_other_pages %}
    <ul class="pagination-pointed pagination text-center" role="navigation" aria-label="Pagination">
    {% if vehicle.has_previous %}
     <li class="pagination-previous"><a class="pagination-pointed-button" href="?{% query_transform request page=vehicle.previous_page_number %}" >Previous <span class="show-for-sr">Page</span></a></li>
        {% else %}
  <li class="pagination-previous disabled">Previous <span class="show-for-sr">Page</span></li>
        {% endif %}
    {% for i in  vehicle.paginator.page_range %}
    {% if vehicle.number == i %}
  <li class="current"><span class="show-for-sr">You're on page</span> {{ i }}</li>
        {% else %}
  <li><a class="pagination-pointed-button" href="?{% query_transform request page=i %}">{{ i }}</a></li>
  {% endif %}
    {% endfor %}
    {% if vehicle.has_next %}
   <li class="pagination-next"><a class="pagination-pointed-button" href="?{% query_transform request page=vehicle.next_page_number %}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
        {% endif %}
</ul>
    {% endif %}
    {% if tag.name in tag %}
        {% if vehicle.has_other_pages %}
    <ul class="pagination-pointed pagination text-center" role="navigation" aria-label="Pagination">
    {% if vehicle.has_previous %}
     <li class="pagination-previous"><a class="pagination-pointed-button" href="?{% query_transform request page=vehicle.previous_page_number %}" >Previous <span class="show-for-sr">Page</span></a></li>
        {% else %}
  <li class="pagination-previous disabled">Previous <span class="show-for-sr">Page</span></li>
        {% endif %}
    {% for i in  vehicle.paginator.page_range %}
    {% if vehicle.number == i %}
  <li class="current"><span class="show-for-sr">You're on page</span> {{ i }}</li>
        {% else %}
  <li><a class="pagination-pointed-button" href="?{% query_transform request page=i %}">{{ i }}</a></li>
  {% endif %}
    {% endfor %}
    {% if vehicle.has_next %}
<li class="pagination-next"><a class="pagination-pointed-button" href="?{% query_transform request page=vehicle.next_page_number %}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
        {% endif %}
</ul>
    {% endif %}
    {% endif %}





{% endblock %}

{% endblock %}
