{% extends "gari/main.html" %}
{% block title %}Edit your account{% endblock %}
{% block content %}


    <div class="grid-x" xmlns="http://www.w3.org/1999/html">
        <div class="grid-container">
    <form method="post" enctype="multipart/form-data">
    <table>

    <div class="cell small-6 large-12">


    <h3>Edit Profile</h3>




   {% csrf_token %}
        {{ user_form.as_table }}
        {{ profile_form.as_table }}


</div>
    </table>
        <button type="submit" class="primary button expanded search-button">
      Update Profile
    </button>
        </form>
    </div>
    </div>
{% endblock %}