{% extends 'gari/main.html' %}
{% load staticfiles %}
{% block title_block %}
    Search
    {% endblock %}
{% block body_block %}

{% block content %}


<div class="hero-section">
<div class="hero-section-text">



  <div class="formu">


<div class="translucent-form-overlay">
   <form method="get" action="{% url 'gari:gari_results' %}">
<h1 style="font-family:'Oswald', bold; font-size: 35px; color: #F7444E">Find Your Dream Car</h1>

      <div class="grid-x ">
          {{ filter.form.media }}
          {{ filter.form.media.js }}

      <div class="cell large-12 small-12">
          {{ filter.form.county.label_tag }}
        {{ filter.form.county }}
      </div>
    </div>
        <div class="grid-x grid-margin-x">
      <div class="cell large-6 small-6 medium-6">
        {{ filter.form.make.label_tag }}
          {{ filter.form.make }}
      </div>
      <div class="cell large-6 small-6 medium-6">
        {{ filter.form.model.label_tag }}
          {{ filter.form.model }}
      </div>
    </div>
        <div class="grid-x grid-margin-x">
      <div class="cell large-6 small-6 medium-6">
        {{ filter.form.year__gte.label_tag }}
          {{ filter.form.year__gte }}
      </div>
      <div class="cell large-6 small-6 medium-6">
        {{ filter.form.year__lte.label_tag }}
          {{ filter.form.year__lte }}
      </div>
    </div>


    <div class="grid-x grid-margin-x">
      <div class="cell large-6 small-6 medium-6">
        {{ filter.form.price__gte.label_tag }}
          {{ filter.form.price__gte }}
      </div>
      <div class="cell large-6 small-6 medium-6">
        {{ filter.form.price__lte.label_tag }}
          {{ filter.form.price__lte }}
      </div>
    </div>
    <button type="submit" class="alert button expanded search-button">
      Find Cars
    </button>
 </form>
</div>
  </div>
  </div>
  </div>

<section class="marketing-site-three-up" style="background-color: #a8d0e6;">

    <div class="content">

        <h1 class="marketing-site-three-up-headline" style="margin-left: 25px"><strong>Let Garipad get you the best car deal</strong></h1>

  <div class="grid-x">
    <div class="cell large-4">
      <i class="fa fa-gg" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title">Choose Vehicle</h4>
      <p class="marketing-site-three-up-desc">Choose the vehicle you want plus the maximum you are willing to spend</p>
    </div>
    <div class="cell large-4">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title">Compare Offers</h4>
      <p class="marketing-site-three-up-desc">Compare offers from various certified dealers</p>
    </div>
    <div class="cell large-4">
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title">Grab your deal</h4>
      <p class="marketing-site-three-up-desc">Contact your preferred dealer and get your perfect car </p>
    </div>

  </div>
    </div>
    <p style="text-align: center"><a href="{% url 'gari:create_quote' %}" class="button alert">Request Quotes</a></p>
</section>


<div class="content">
<div class="wording">
    {% load dealers_tag %}
    {% get_dealers %}
<h5 style=" margin-left:25px; font-family:'Oswald', bold; font-size: 25px; color: black; font-weight: bold">Top Dealers</h5>
</div>

<div class="multiple-items">
    {% for dealer in dealers %}
 <div class="card-flex-article card flex-container">
 <a href="{{ dealer.get_absolute_url }}">
  <div class="card-image">
  {% if dealer.logo %}
    <img src="{{dealer.logo.url}}">
  {% endif %}
    {% if dealer.sponsored == True %}

    <span class="label alert card-tag">Top Ad</span>
    {% endif %}
  </div>
  <div class="card-section">
      <h3 class="article-title" style="color: black"> {{dealer.company}}</h3>

    <div class="article-details">



    </div>
    <p class="article-summary" style="font-family: Merriweather; color: darkgrey">{{ dealer.county|capfirst }}</p>
  </div>
 </a>
  </div>

    {% endfor %}
 </div>
<div class="show-for-medium">
    <h1 style=" margin-left:30px; font-family:'Oswald', bold; font-size: 20px; color: darkred; opacity: 2.5"><a href="#" style="color: darkred">View All Dealers <i class="fa fa-arrow-right " style="color:darkred" aria-hidden="true"></i></a> </h1>
</div>
<div class="show-for-small-only" style="text-align:center">
<a href="{% url 'gari:alldealers' %}" class= "" style="font-family:'Oswald', bold; font-size: 20px; color: darkred">View All Dealers <i class="fa fa-arrow-right " style="color:darkred" aria-hidden="true"></i> </a>
</div>
    </div>



<div class="content">
<div class="wording">
    {% load top_deals %}
    {% get_deals %}
<h5 style=" margin-left:25px; font-family:'Oswald', bold; font-size: 25px; color: black; font-weight: bold">Top Deals</h5>
</div>

<div class="multiple-items">
    {% for deal in deals %}
 <div class="card-flex-article card flex-container">
 <a href="{{ deal.get_absolute_url }}">
  <div class="card-image">
  {% if deal.picture %}
    <img src="{{deal.picture.url}}">
  {% endif %}
    {% if deal.sponsored == True %}

    <span class="label alert card-tag">Top Ad</span>
    {% endif %}
  </div>
  <div class="card-section">
      <h3 class="article-title" style="color: black"> {{deal.name}}</h3>

    <div class="article-details">



    </div>
    <p class="article-summary" style="font-family: Merriweather; color: darkgrey">{{ deal.county|capfirst }}</p>
  </div>
 </a>
  </div>

    {% endfor %}
 </div>
<div class="show-for-medium">
    <h1 style=" margin-left:30px; font-family:'Oswald', bold; font-size: 20px; color: darkred; opacity: 2.5"><a href="#" style="color: darkred">View All Deals <i class="fa fa-arrow-right " style="color:darkred" aria-hidden="true"></i></a> </h1>
</div>
<div class="show-for-small-only" style="text-align:center">
<a href="" class= "" style="font-family:'Oswald', bold; font-size: 20px; color: darkred">View All Deals <i class="fa fa-arrow-right " style="color:darkred" aria-hidden="true"></i> </a>
</div>
    </div>

   <div class="content">
          {% load news_tag %}
          {% get_news %}
<div class="article-row-section">
  <div class="article-row-section-inner">

    <h2 class="article-row-section-header">Latest Car News</h2>
      {% for new in news %}
    <a href="{{ new.get_absolute_url }}">
      <article class="article-row">
        <div class="article-row-img">
            {% if new.picture %}
          <img src="{{ new.picture.url }}" alt="news" />
            {% endif %}
        </div>
        <div class="article-row-content">
          <h5 class="article-row-content-header" style="font-family: Roboto, Bold; font-size: 25px; color: blue">{{ new.title }}</h5>

          <p class="article-row-content-description">{{ new.text|truncatewords:10 }}</p>



        </div>
      </article>
    </a>
      {% endfor %}

  </div>

</div>
<div style="text-align:center">
<a href="#" class= "hollow button large">View All News</a>
</div>
        </div>
      <section style="background-color: whitesmoke">

<div class="content">
<div class="wording">
    {% load type_tag %}
    {% get_types %}
<h5 style=" margin-left:25px; font-family:'Oswald', bold; font-size: 25px; color: black; font-weight: bold">Body Types</h5>
</div>
<div class="grid-x grid-padding-x">
    {% for type in types %}
  <div class="cell large-2 small-6 medium-4">
    <div class="featured-image-block column">
     <a href="{{ type.get_absolute_url }}">
         {% if type.picture %}
    <img src="{{type.picture.url}}">
                   <p class="text-center featured-image-block-title">{{ type.name }}</p>
  {% endif %}

      </a>
    </div>
  </div>
    {% endfor %}
</div>
<div class="show-for-medium">
    <h1 style=" margin-left:30px; font-family:'Oswald', bold; font-size: 20px; color: darkred; opacity: 2.5"><a href="#" style="color:darkred;">View All Types <i class="fa fa-arrow-right " style="color:darkred" aria-hidden="true"></i></a> </h1>
</div>
<div class="show-for-small-only" style="text-align:center">
<a href="" class= "" style="font-family:'Oswald', bold; font-size: 20px; color: darkred">View All Brands <i class="fa fa-arrow-right " style="color:darkred" aria-hidden="true"></i> </a>
</div>
    </div>
    </section>

    <section style="background-color: #f8e9a1">

<div class="content">
<div class="wording">
    {% load make_tag %}
    {% get_makes %}
<h5 style=" margin-left:25px; font-family:'Oswald', bold; font-size: 25px; color: black; font-weight: bold">Top Brands</h5>
</div>
<div class="grid-x grid-padding-x">
    {% for make in makes %}
  <div class="cell large-2 small-4 medium-4">
    <div class="featured-image-block column">
     <a href="{{ make.get_absolute_url }}">
         {% if make.logo %}
    <img src="{{make.logo.url}}">
                   <p class="text-center featured-image-block-title">{{ make.name }}</p>
  {% endif %}

      </a>
    </div>
  </div>
    {% endfor %}
</div>
<div class="show-for-medium">
    <h1 style=" margin-left:30px; font-family:'Oswald', bold; font-size: 20px; color: darkred; opacity: 2.5"><a href="#" style="color:darkred;">View All Brands <i class="fa fa-arrow-right " style="color:darkred" aria-hidden="true"></i></a> </h1>
</div>
<div class="show-for-small-only" style="text-align:center">
<a href="" class= "" style="font-family:'Oswald', bold; font-size: 20px; color: darkred">View All Brands <i class="fa fa-arrow-right " style="color:darkred" aria-hidden="true"></i> </a>
</div>
    </div>
    </section>

{% endblock %}

{% endblock %}

